@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.home {
    text-align: center;
    padding: $spacing-large;

    .hero {
        @include center-flex(column);
        background-color: $light-color;
        padding: $spacing-large;
        border-radius: $border-radius;
        box-shadow: $box-shadow;

        h1 {
            font-size: 2.5rem;
            color: $primary-color;
            margin-bottom: $spacing-medium;

            @include respond-to(sm) {
                font-size: 2rem;
            }
        }

        p {
            font-size: 1.2rem;
            color: $text-color;
            margin-bottom: $spacing-medium;
        }

        .btn {
            @include button-styles($primary-color, $primary-hover);
        }
    }
}
